.container {
  margin-bottom: 10rem;
}

.title {
  max-width: 50%;
  margin: 3rem auto;
  font-size: 3rem;
}

.form {
  background-color: #457b9d;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  padding: 2rem 0;

  max-width: 50%;
  margin: 3rem auto;
}

.form .input {
  width: 20rem;
  height: 3rem;
  border-radius: 0.5rem;
  border: none;
  padding: 0.7rem;
}

.form .btn {
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  border: none;
  background-color: #a8dadc;
  cursor: pointer;
}

.btn:hover {
  transform: translate(0, -0.2rem);
  transition: all 0.1s ease-in;
}

.btn:active {
  transform: translate(0, 0.1rem);
  transition: all 0.1s ease-in;
}

.signupContainer {
  max-width: 50%;
  margin: 0 auto;
  padding: 1rem;
  border-radius: 0.5rem;
  text-align: center;
}

.signupText {
  margin-bottom: 0.5rem;
}

.signupBtn {
  display: inline-block;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  border: none;
  background-color: #a8dadc;
  cursor: pointer;
}
