.productsContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;

  padding: 2rem;
  max-width: 50%;
  margin: 0 auto;
}

@media (max-width: 650px) {
  .productsContainer {
    grid-template-columns: 1fr;
  }
}
