.Navbar {
  background-color: burlywood;
  padding: 2rem;
  width: 100%;
}

ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navItem {
  margin: 0 1rem;
}

.home {
  margin-right: auto;
}

.logOut {
  margin-left: 1rem;
  cursor: pointer;
}
