.product {
  border: 1px black solid;
  border-radius: 5px;
}

.product:hover {
  box-shadow: 10px 5px 5px rgba(81, 76, 76, 0.355);
  transition: all ease-in 0.2s;
  scale: 1.05;
}

.product:active {
  scale: 0.95;
}

.imgContainer {
  margin-top: 2rem;
  display: grid;
  place-items: center;
}

.productImage {
  max-width: 20rem;
  max-height: 20rem;
  object-fit: cover;
}

.textContainer {
  padding: 1rem;
}

.link {
  display: inline-block;
  text-decoration: none;
  border: none;
  cursor: pointer;
  color: black;
  margin-top: 2rem;
  background-color: lightblue;
  padding: 0.7rem 1.5rem;
  border-radius: 0.5rem;
}
